<template>
  <div id="main">
    <v-row>
      <v-col cols="2">
        <span class="text-h5 primary--text">Incidenten</span>
        <v-divider></v-divider>

        <div v-if="loading">
          <v-skeleton-loader type="list-item-avatar-two-line" v-for="n in 3" v-bind:key="n"></v-skeleton-loader>
        </div>

        <v-list v-if="!loading">
          <v-list-item-group v-model="selectedIncident" color="primary">
            <v-list-item @click="selectIncident(incident.id)" v-for="incident in incidents" v-bind:key="incident.id" :class="incident.seen == false ? 'incident-new' : ''">
              <v-list-item-content>
                <v-list-item-title>{{ incident.name ? incident.name : incident.status == "confirmed" ? "Incident" : "Potentieel incident"}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-col>
      <v-col cols="10">
        <v-row no-gutters>
          <span class="text-h5 primary--text" v-if="currentIncident">
            {{ currentIncident.name ? currentIncident.name : currentIncident.status == "confirmed" ? "Incident" : "Potentieel incident"}}
          </span>
          <span class="text-h5 primary--text" v-else>
            Geen incident geselecteerd
          </span>
        </v-row>
        <v-divider></v-divider>
        <v-row class="mt-1">
          <v-pagination
            class="mx-auto"
            v-model="page"
            v-if="currentRelatedTweets"
            :length="Math.ceil(currentRelatedTweets.length / 12)"
            :total-visible="30"
            circle
          ></v-pagination>
        </v-row>
        <v-row no-gutters>
          <v-text-field v-model="keywords"
            label="Keywords"
            class="mb-0">
          </v-text-field>
        </v-row>
        <v-row class="mt-0">
          <template v-if="currentRelatedTweets">
            <v-col v-for="tweet in currentRelatedTweets.slice(((page - 1)*12), (page*12))"
              :key="tweet.status_id"
              class="d-flex child-flex"
              cols="4"
            >
              <v-card>
                <div class="d-flex flex-no-wrap justify-space-between">
                  <v-row no-gutters v-if="images.filter(x => x.id == tweet.status_id).length > 0">
                    <v-col cols="7">
                      <v-card-text>
                        @{{ tweet.user_screen_name }} - {{ stringToDate(tweet.created_at).toLocaleString() }}<br>
                        {{ tweet.text }} <br>
                      </v-card-text>
                    </v-col>
                    <v-col cols="5">
                      <v-card-text>
                        <v-carousel hide-delimiters
                          height="125px"
                        >
                          <v-carousel-item
                            v-for="(image, index) in images.filter(x => x.id == tweet.status_id)"
                            :key="index"
                          >
                            <div class="d-flex child-flex">
                              <img class="smid-image" 
                              :src="media_url + '/' + image.id + '/' + image.src"
                              @click="openImage(media_url + '/' + image.id + '/' + image.src)">
                            </div>
                          </v-carousel-item>
                        </v-carousel>
                      </v-card-text>
                    </v-col>
                  </v-row>
                  <v-row v-else>
                    <v-col cols="12">
                      <v-card-text>
                        @{{ tweet.user_screen_name }} - {{ stringToDate(tweet.created_at).toLocaleString() }}<br>
                        {{ tweet.text }} <br>
                      </v-card-text>
                    </v-col>
                  </v-row>
                </div>
              </v-card>

            </v-col>
          </template>
          
        </v-row>
      </v-col>
    </v-row>
    <v-dialog
      v-model="imageDialog"
      width="600"
    >
      <v-card v-if="image">
        <v-img 
          :src="image"
          contain
          max-width="600"
        ></v-img>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
// @ is an alias to /src
import { HTTP } from '@/services/axios.js'

export default {
  name: 'Home',
  components:{

  },
  data: function() {
    return {
      selectedIncident: null,
      binSize: null,
      tweetsDialog: false,
      confirmDialog: false,
      currentIncidentID: null,
      imagesDialog: false,
      url: window.location.hostname == 'localhost' ? 'http://localhost:8000/' : 'https://' + window.location.hostname + '/api/',
      interval: null,
      image: "",
      imageDialog: false,
      media_url: window.location.hostname == 'localhost' ? 'http://localhost:8000/media' : 'https://' + window.location.hostname + '/api/media',
      page: 1,
      images: [],
      keywords: ""
    }
  },
  methods: {
    selectIncident(id) {
      if(this.currentIncidentID === id) {
        this.currentIncidentID = null
        clearInterval(this.interval)
      } else {
        this.currentIncidentID = id
        clearInterval(this.interval)
      }
      this.binSize = null
      this.$store.dispatch('markIncidentAsSeen', id)
      this.updateCurrentIncident()
    },
    updateCurrentIncident() {
      let id = this.currentIncidentID
      if(id != null){
        HTTP
          .get('/incident/' + id)
          .then(response => (
            this.$store.dispatch('updateIncident', {'id': id, 'data': response.data})
          ))
        this.getImages(this.currentRelatedTweets)
      }
    },
    getImages(tweets) {
      if(tweets.length > 0) {
        let ids = tweets.map(x => x.status_id)

        HTTP
          .post('/tweets_media/', ids)
          .then(response => (
            this.images = response.data
          ))
      } else {
        this.images = []
      }
    },
    openImage(image) {
      this.image = image
      this.imageDialog = !this.imageDialog
    }
  },
  computed: {
    incidents() {
      let incidents = this.$store.getters.getIncidents
      return incidents?.sort(function (a, b) {
        return b.id > a.id
      })
    },
    currentIncident() {
      return this.incidents.find(x => x.id === this.currentIncidentID)
    },
    currentRelatedTweets() {
      let tweets = this.currentIncident?.related_tweets
      if(this.keywordsArray.length > 0 && tweets){
        tweets = tweets.filter(x => this.keywordsArray.some(r => x.pre_text_tokenized.includes(r)))
      }
      return tweets?.sort(function (a, b) {
        return a.created_at.localeCompare(b?.created_at);
      })
    },
    loading() {
      return this.$store.getters.getLoadingState
    },
    keywordsArray() {
      return this.keywords.split(' ').filter(x => x != "")
    }
  }
}

</script>

<style>
  .timeline-bar {
    display: inline-block;
    min-height: 1px;
    width: 100%;
    background-color:#004682;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #000;
  }
  .timeline-container {
    display: flex; 
    flex-direction: column;
    line-height: 1em;
  }
  .timeline-spacer {
    flex-grow: 1;
  }
  .timeline-labels {
    font-size: 0.75em;
  }
  .timeline-x-labels {
    position:absolute;
    bottom:-2.75em;
    border-left: 1px dashed grey;
  }
  .timeline-y-col1 {
    min-width: 25px !important;
    max-width: 25px !important;
    margin-top: 50px;
  }
  .timeline-y-col2 {
    min-width: 35px !important;
    max-width: 35px !important;
    border-right: 1px solid #000;
    text-align: right;
  }
  .timeline-y-label {
    position: absolute;
    left: 25px;
    width: calc(100% - 27px);
    border-top: 1px dashed #004682;
    padding-right: 2px;
  }
  .timeline-y-zero {
    bottom: -1.3em;
  }
  .timeline-y-label > span {
    display: block;
    margin-top: 0px;
  }
  .timeline-row {
    position:relative; 
    height:200px; 
    margin: 0 0 calc(1.6em + 15px) 0 !important;
  }
  .incident-new {
    background: #EF9A9A;
  }
  .smid-image {
    object-fit: cover;
    max-width: 100%;
    height: 125px;
    max-height: 125px;
  }
</style>