<template>
  <div id="help">
    <v-row no-gutters>
      <v-card
          max-width="400"
          class="mr-4"
      >
        <v-card-title>
          Incidenten lijst
        </v-card-title>
        <div style="width: 100%; height: 300px; overflow:hidden;">
          <img class="help-image" src="../assets/help/incident_list.png">
        </div>
        <v-card-text>
          De lijst toont nieuwe en bevestigde incidenten. Een potentieel incident wat nieuw binnenkomt wordt rood gemarkeerd totdat het bekeken is. Zodra een incident is bevestigd verdwijnt het "Potentieel" uit de titel. Incident detectie systemen kunnen een incident ook van een titel voorzien, in dat geval wordt altijd die titel getoond.
        </v-card-text>
      </v-card>
      <v-card
          max-width="400"
          class="mr-4"
      >
        <v-card-title>
          Kaart
        </v-card-title>
        <div style="width: 100%; height:200px; overflow:hidden;">
          <img style="margin-top: -280px;" class="help-image" src="../assets/help/heatmap.png">
        </div>
        <v-card-text>
          De kaart toont locaties die voorkomen in de Tweets gerelateerd aan het geselecteerde incident of gerelateerd aan alle incidenten wanneer geen incident geselecteerd is. Deze locaties zijn gebaseerd op:
          <ul>
            <li>Plaatsen in tekst</li>
            <li>GPS coördinaten van de auteur tijdens het plaatsen</li>
            <li>Een door de auteur opgegeven locatie</li>
          </ul>
          Hoe vaker een locatie voorkomt binnen een incident, hoe intenser dit wordt weergegeven op de kaart. Op bovenstaande kaart worden er meerdere locaties weergegeven, maar Rotterdam komt het vaakst voor en wordt daarom ook intenser weergegeven.
        </v-card-text>
      </v-card>
      <v-card
          max-width="400"
          class="mr-4"
      >
        <v-card-title>
          Tijdlijn
        </v-card-title>
        <img width="100%" src="../assets/help/timeline.png">
        <v-card-text>
          De tijdlijn geeft de hoeveelheid Tweets binnen een tijdvak aan. Op bovenstaande tijdlijn is er gekozen voor tijdvakken ven 30 minuten, wat resulteert in 4 tijdvakken van de eerste tot de laatste Tweet over het incident. Een andere grootte van de tijdvakken kan worden gekozen voor een nauwkeurigere weergave. Bij incidenten waarbij de Tweets verspreid zijn over een lange periode wordt de tijdlijn standaard op grote tijdvakken ingesteld.
        </v-card-text>
      </v-card>
      <v-card
          max-width="400"
          class="mr-4"
      >
        <v-card-title>
          Acties
        </v-card-title>
        <v-card-text>
          <v-btn>Toon Tweets</v-btn><v-btn class="ml-2">Toon afbeeldingen</v-btn><br>
          Opent een pop-up met alle Tweets/afbeeldingen gerelateerd aan het geselecteerde incident.<br><br>
          <v-btn color="primary">Incident bevestigen</v-btn><br>
          Met deze knop bevestig je dat een incident inderdaad een incident is.<br><br>
          <v-btn color="success">Incident sluiten</v-btn><br>
          Nadat een incident bevestigd is wordt deze knop beschikbaar. Hiermee kan een incident worden gesloten wanneer het afgehandeld is.<br><br>
          <v-btn color="error">Incident verwijderen</v-btn><br>
          Met deze knop kan een incident verwijderd worden. Gebruik deze knop wanneer een incident geen incident blijkt te zijn.
        </v-card-text>
      </v-card>
    </v-row>
    <v-row no-gutters class="mt-4">
      <v-card
          max-width="816"
          class="mr-4"
      >
        <v-card-title>
          Algemene informatie
        </v-card-title>
        <img width="100%" src="../assets/help/general_info.png">
        <v-card-text>
          Deze sectie toont algemene informatie over het incident, zoals wanneer het getedecteerd is en wat de huidige status is (Nieuw/Bevestigd). Verder worden populaire hashtags binnen het incident getoond om het onderwerp aan te geven.
        </v-card-text>
      </v-card>
      <v-card
          max-width="400"
          class="mr-4"
      >
        <v-card-title>
          Afbeeldingen
        </v-card-title>
        <img width="100%" src="../assets/help/images.png">
        <v-card-text>
          De sectie met afbeeldingen toont alle afbeeldingen die opgehaald zijn uit Tweets gerelateerd aan het geselecteerde incident. De afbeedingen kunnen vergroot worden door ze aan te klikken.
        </v-card-text>
      </v-card>
      <v-card
          max-width="400"
          class="mr-4"
      >
        <v-card-title>
          Tweets
        </v-card-title>
        <img width="100%" src="../assets/help/tweets.png">
        <v-card-text>
          In dit element worden enkele mogelijk relevante Tweets getoond, zoals de eerste en laatste Tweet, maar ook de Tweet met de meeste retweets.
        </v-card-text>
      </v-card>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'Help',
  data: function() {
    return {

    }
  }
}
</script>

<style scoped>

  .help-image {
    object-fit: cover;
  }

</style>