<template>
  <div>
    <h4>Tijdlijn</h4>
    <div v-if="tweetData.length > 0">
      <v-toolbar dense flat>
        <v-toolbar-items>
          <v-btn-toggle v-model="binSize" depressed color="primary" group>
            <v-btn :value="5">
              5 min
            </v-btn>
            <v-btn :value="15">
              15 min
            </v-btn>
            <v-btn :value="30">
              30 min
            </v-btn>
            <v-btn :value="60">
              1 uur
            </v-btn>
            <v-btn :value="120">
              2 uur
            </v-btn>
            <v-btn :value="360">
              6 uur
            </v-btn>
            <v-btn :value="720">
              12 uur
            </v-btn>
            <v-btn :value="1440">
              1 dag
            </v-btn>
            <v-btn :value="0">
              <v-icon>mdi-replay</v-icon>
            </v-btn>
          </v-btn-toggle>
        </v-toolbar-items>
      </v-toolbar>
      <apexchart :options="chart.options" :series="chart.series"></apexchart>
      <!-- <v-sparkline :value="chart.series[0].data" :labels="chart.options.xaxis.categories"></v-sparkline> -->
    </div>
    <div v-else class="body-2">
      Er is op dit moment geen tijdlijn beschikbaar. Het systeem probeert automatisch ontbrekende Tweets op te halen, waarna mogelijk alsnog een tijdlijn getoond kan worden.
    </div>
  </div>
</template>

<script>
export default {
  name: 'ApexChart',
  props: [
    'tweetData',
    'incidentID'
  ],
  data: function() {
    return {
      binSize: 0
    }
  },
  watch: {
    incidentID: function() {
      this.binSize = 0
    }
  },
  methods: {
    getBinSize(first, last) {
      let diff = Math.floor((last - first) / 60000)
      let size = Math.round(diff / 15)
      if (size < 60) {
        size = Math.round(size / 15 * 15)
      } else {
        size = Math.round(size / 60 * 60)
      }
      return size < 1 ? 1 : size
    },
    async createBins() {
      return new Promise((resolve) => {
        let tweets = this.tweets
        if(tweets.length == 0) return false
        let bins = []
        let first = this.stringToDate(tweets[0].created_at)
        let last = this.stringToDate(tweets[tweets.length - 1].created_at)
        this.binSize = this.binSize == 0 ? this.getBinSize(first, last) : this.binSize
        let coeff = 1000 * 60 * this.binSize

        // Determine the start time of the first and last bin by getting the datetime of the first and last Tweet (Tweets are sorted by date)
        let firstStart = new Date(Math.floor(first.getTime() / coeff) * coeff).getTime()
        let lastStart = new Date(Math.floor(last.getTime() / coeff) * coeff)

        // Calculate the number of bins
        let nrOfBins = Math.round((lastStart - firstStart) / coeff) + 1

        let binTweets = tweets
        // Create the bins and add Tweets to them
        for(let i = 0; i < nrOfBins; i++) {
          let start = new Date(firstStart + (coeff * i))
          let nextBinIndex = binTweets.findIndex(x => this.stringToDate(x.created_at).getTime() > start.getTime() + coeff)
          let filteredTweets = []
          if(nextBinIndex != -1){
            filteredTweets = binTweets.slice(0,nextBinIndex)
            binTweets = binTweets.slice(nextBinIndex)
          }else{
            filteredTweets = binTweets
          }
          let bin = {
            start: start,
            tweets: filteredTweets,
            tweet_count: filteredTweets.length
          }
          bins.push(bin)
        }
        resolve(bins)
      })
      
    }
  },
  computed: {
    getChartType() {
      return this.chartType
    },
    tweets() {
      return this.tweetData
    },
    binsInfo() {
      if(this.bins == null || this.bins.length == 0) return {labels: [],values: []}
      let labels = Array.from(this.bins, x => 
        x.start.getDate() + 
        '-' + 
        (x.start.getMonth() + 1) + 
        " " + 
        (x.start.getHours() < 10 ? "0" + x.start.getHours() : x.start.getHours()) + 
        ':' + 
        (x.start.getMinutes() == 0 ? "00" : x.start.getMinutes()) 
      )
      let values = Array.from(this.bins, x => x.tweet_count)
      return {labels, values}
    },
    chart() {
      let chart = {}
      if(this.binsInfo) {
        chart = {
          options: {
            chart: {
              id: 'TweetChart',
              type: 'bar',
              height: '200px'
            },
            dataLabels: {
              enabled: false
            },
            xaxis: {
              categories: this.binsInfo.labels
            },
            yaxis: {
              min: 0
            }
          },
          series: [{
            name: 'Aantal Tweets',
            data: this.binsInfo.values
          }]
        }
      }
      return chart
    }
  },
  asyncComputed: {
    async bins() {
      return await this.createBins()
    }
  }
}
</script>