<!-- NOT FUNCTIONAL RIGHT NOW -->
<template>
  <v-row no-gutters class="timeline-row">
    <v-col class="timeline-labels timeline-y-col1">

        <span style="transform: rotate(180deg); writing-mode:vertical-lr; bottom:0">
        Aantal Tweets
        </span><br>

    </v-col>
    <v-col class="timeline-y-col2">
        <!-- Spacer for absolute positioned labels -->
    </v-col>
    <v-col class="timeline-container" v-for="(bin, index) in bins.bins" :key="index">
        <div class="timeline-spacer"></div>
        <div class="timeline-bar" :style="'height: ' + (bin.tweet_count / bins.highestValue * 100) + '%;'"
        >
        <div class="timeline-labels timeline-y-label" v-if="bins.labels.includes(bin.tweet_count) && bin.tweet_count != 0">
            <span>{{ bin.tweet_count }}</span>
        </div>
        <div class="timeline-labels timeline-y-label timeline-y-zero" v-if="index == 0">
            <span>0</span>
        </div>
        </div>
        <div class="timeline-labels timeline-x-labels" >
        {{ bin.start.getHours() + ':' + bin.start.getMinutes() }}<br>
        {{ bin.start.getDate() + '/' + (bin.start.getMonth() + 1) }}
        </div>


    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Chart',
  props: {
    bins: Object
  },
}
</script>