<template>
  <v-navigation-drawer
    absolute
    right
    v-model="show"
    class="secondary"
    width="300"
  >
    <template v-slot:prepend>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title><h3 class="primary--text">Help</h3></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: [
    'show'
  ]
}
</script>