<template>
  <div>
    <v-row no-gutters>
      <h4>Afbeeldingen</h4>
    </v-row>
    <v-row no-gutters>
      <template v-for="(image, index) in images">
        <v-col
          :key="index"
          v-if="index < 6"
          class="d-flex child-flex image-gallery"
          cols="4"
        >
          <img v-if="index < 6"
            :src="url + '/' + image.id + '/' + image.src"
            @click="openImage(url + '/' + image.id + '/' + image.src)"
            class="smid-image"
          >
        </v-col>
      </template>
    </v-row>
    <div v-if="images.length < 1">
      <span class="body-2">Er zijn op dit moment geen afbeeldingen beschikbaar voor dit incident. Wanneer er nieuwe Tweets binnenkomen met afbeeldingen worden deze automatisch geladen.</span>
    </div>
    <div v-if="images.length > 6">
      <a class="body-2" @click="allImagesDialog = !allImagesDialog">Toon alle afbeeldingen<v-icon small color="primary">mdi-launch</v-icon></a>
    </div>

    <v-dialog
      v-model="imageDialog"
      width="600"
    >
      <v-card v-if="image">
        <v-img 
          :src="image"
          contain
          max-width="600"
        ></v-img>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="allImagesDialog"
      width="1000"
    >
      <v-card v-if="images">
        <v-card-title class="primary white--text">Afbeeldingen</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-row class="mt-1">
            <v-col
              v-for="(image, index) in images"
              :key="index"
              class="d-flex child-flex image-gallery mt-2"
              cols="2"
            >
              <img
                :src="url + '/' + image.id + '/' + image.src"
                class="smid-image"
                @click="openImage(url + '/' + image.id + '/' + image.src)"
              >
            </v-col>
          </v-row>
          <v-row v-if="images.length < 1" class="mt-2">
            <span class="body-2">Er zijn op dit moment geen afbeeldingen beschikbaar voor dit incident. Wanneer er nieuwe Tweets binnenkomen met afbeeldingen worden deze automatisch geladen.</span>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import { HTTP } from '@/services/axios.js'

export default {
  props: [
    'tweets',
    'imagesDialog'
  ],
  data: function() {
    return {
      images: [],
      image: "",
      imageDialog: false,
      allImagesDialog: false,
      url: window.location.hostname == 'localhost' ? 'http://localhost:8000/media' : 'https://' + window.location.hostname + '/api/media',
    }
  },
  watch: {
    tweets() {
      this.getImages(this.tweets)
    },
    imagesDialog() {
      this.allImagesDialog = !this.allImagesDialog
    }
  },
  methods: {
    getImages(tweets) {
        if(tweets.length > 0) {
          let ids = tweets.map(x => x.status_id)

          HTTP
            .post('/tweets_media/', ids)
            .then(response => (
              this.images = response.data
            ))
        } else {
          this.images = []
        }
    },
    openImage(image) {
      this.image = image
      this.imageDialog = !this.imageDialog
    }
  },
  mounted: function() {
    this.getImages(this.tweets)
  }
}
</script>

<style scoped>
  .image-gallery {
    padding: 0 12px 12px 0 !important;
  }

  .smid-image {
    object-fit: cover;
    max-width: 100%;
    height: 125px;
    max-height: 125px;
  }
</style>