<template>
  <div>
    <h4 class="mt-1">Algemene informatie</h4>
    <v-simple-table dense width="100%">
    <template v-slot:default>
        <thead>
        <tr>
          <th class="text-left">
            Titel
            <v-tooltip right max-width="400">
                <template v-slot:activator="{ on, attrs }">
                <v-icon
                    v-bind="attrs"
                    v-on="on"
                    small
                >
                    mdi-help-circle
                </v-icon>
                </template>
                <span>De titel wordt meegegeven door een incident detectie systeem, of wordt ingevuld als "(Potentieel) incident"</span>
            </v-tooltip>
          </th>
          <th class="text-left">
            Getedecteerd
          </th>
          <th class="text-left">
            Locatie
            <v-tooltip right>
                <template v-slot:activator="{ on, attrs }">
                <v-icon
                    v-bind="attrs"
                    v-on="on"
                    small
                >
                    mdi-help-circle
                </v-icon>
                </template>
                <span>De locatie is een schatting</span>
            </v-tooltip>
          </th>
          <th class="text-left">
            Aantal Tweets
            <v-tooltip right max-width="400">
                <template v-slot:activator="{ on, attrs }">
                <v-icon
                    v-bind="attrs"
                    v-on="on"
                    small
                >
                    mdi-help-circle
                </v-icon>
                </template>
                <span>
                Soms kunnen niet alle incident gerelateerde Tweets worden getoond. Het linker getal is het aantal Tweets waarop de weergegeven informatie gebaseerd is, het rechter getal is het totaal aantal aan het incident gerelateerde Tweets.<br><br>
                Wanneer deze getallen niet gelijk zijn probeert het systeem automatisch de resterende Tweets op te halen.
                </span>
            </v-tooltip>
          </th>
          <th class="text-left">
            Status
          </th>
          <th class="text-left">
            Hashtags
            <v-tooltip right max-width="400">
                <template v-slot:activator="{ on, attrs }">
                <v-icon
                    v-bind="attrs"
                    v-on="on"
                    small
                >
                    mdi-help-circle
                </v-icon>
                </template>
                <span>
                  De hashtags die getoond worden zijn de eerste 5 gesorteerd op volgorde van meest voorkomende. Hashtags met locaties die al op de kaart worden getoond zijn hier niet zichtbaar. 
                </span>
            </v-tooltip>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ incident.name ? incident.name : incident.status == "confirmed" ? "Incident" : "Potentieel incident"}}</td>
            <td>{{ stringToDate(incident.created).toLocaleString() }}</td>
            <td>{{ incident.pre_estimated_location ? incident.pre_estimated_location.charAt(0).toUpperCase() + incident.pre_estimated_location.slice(1) : "Onbekend"}}</td>
            <td>{{ incident.related_tweets.length }}/{{ incident.related_tweet_ids.length }}</td>
            <td>{{ incident.status == "new" ? "Nieuw" : incident.status == "confirmed" ? "Bevestigd" : "Gesloten" }}</td>
            <td>
              <template v-for="(hashtag, index) in sortedHashtags.filter(x => !incident['places'].includes(x.text.toLowerCase()))">
                <span v-bind:key="index" v-if="index < 5">
                  #{{ hashtag.text }}
                </span>
              </template>
              <v-tooltip right max-width="400" v-if="sortedHashtags.length > 5">
                <template v-slot:activator="{ on, attrs }">
                <v-icon
                    v-bind="attrs"
                    v-on="on"
                    small
                >
                    mdi-information
                </v-icon>
                </template>
                <span>
                  <template v-for="(hashtag, index) in sortedHashtags">
                    <span v-bind:key="index" v-if="index < 20">
                      {{ hashtag.count }}x #{{ hashtag.text }}<br>
                    </span>
                  </template>
                </span>
              </v-tooltip>
            </td>
        </tr>
        </tbody>
    </template>
    </v-simple-table>

  </div>
</template>

<script>

var JSON5 = require('json5')

export default {
  props: [
    'incident',
    'tweets'
  ],
  data: function() {
    return {
      sortedHashtags: []
    }
  },
  watch: {
    tweets() {
      this.sortedHashtags = this.sortAndCountHashtags(this.incident)
    }
  },
  methods: {
    sortAndCountHashtags(incident) {
      let tweets = incident.related_tweets
      let hashtags = []
      // Uses JSON5 package to prevent 'key': '"value"' from failing when replacing single quotes to allow regular JSON.parse to work
      hashtags = [].concat.apply([], tweets.map(x => JSON5.parse(x.entities).hashtags.map(x => x.text)))
      let count = {}
      for(let i = 0; i < hashtags.length; i++) {
        count[hashtags[i].toLowerCase()] = (count[hashtags[i].toLowerCase()] || 0) + 1
      }
      let result = []
      for(let x in count) {
        result.push({text: x, count: count[x]})
      }
      result = result.sort((a,b) => b.count - a.count)
      return result
    }
  },
  mounted: function() {
    if(this.tweets) this.sortedHashtags = this.sortAndCountHashtags(this.incident)
  }
}
</script>

<style scoped>

</style>