<template>
  <div>
    <l-map style="height:600px;" ref="map" :center="center" :zoom="zoom" @update:center="centerUpdate" @update:zoom="zoomUpdate">
      <l-tile-layer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" :attribution="attribution"/>
      <LeafletHeatmap ref="heatmap" :key="heatmapKey" :latLng="tweetLocationArray" :min-opacity="10" :blur="21" :radius="15"></LeafletHeatmap>
    </l-map>
  </div>
</template>

<script>
import {latLng } from 'leaflet';
import LeafletHeatmap from '@/assets/dependencies/Vue2LeafletHeatmap'

export default {
  name: 'Map',
  components:{
    LeafletHeatmap
  },
  props: {
    tweets: Array
  },
  data: function() {
    return {
      selectedIncident: null,
      binSize: 5,
      center: latLng(52.140231, 4.87726),
      currentCenter: latLng(52.140231, 4.87726),
      zoom: 7,
      currentZoom: 7,
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      heatmapKey: 0
    }
  },
  watch: {
    // Somewhat hacky way to force clearing the heatmap when there are no locations
    tweets: function() {
      if(this.$refs.heatmap) this.$refs.heatmap.clearMap()
    },
    tweetLocationArray: function(val) {
      if(val.length == 0) this.heatmapKey += 1
    }
  },
  methods: {
    centerUpdate(center) {
      this.currentCenter = center;
    },
    zoomUpdate(zoom) {
      this.currentZoom = zoom;
    }
  },
  computed: {
    tweetLocationArray() {
      if(this.tweets) {
        let locations = []
        let tweets = this.tweets
        for(let i = 0; i < tweets.length; i++) {
          // Add point for GPS coordinates in Tweet
          if(tweets[i].coordinates && tweets[i].coordinates != "None") {
            let object = JSON.parse(tweets[i].coordinates.replace(/'/g, '"'))
            locations.push(latLng(object.coordinates[1], object.coordinates[0], 0.1))
            if(this.$refs.heatmap) this.$refs.heatmap.addLatLng(latLng(object.coordinates[1], object.coordinates[0], 0.1))
          }
          // Add point for user determined places if there are no coordinates
          if(tweets[i].coordinates == "None" && tweets[i].pre_osm_coordinates != "None") {
            let object = JSON.parse(tweets[i].pre_osm_coordinates)
            locations.push(latLng(object[0],object[1], 0.1))
            if(this.$refs.heatmap) this.$refs.heatmap.addLatLng(latLng(object[0],object[1], 0.1))
          }
          // Add point for every location in the text of a Tweet
          if(tweets[i].pre_places_in_text && tweets[i].pre_places_in_text != "None" && tweets[i].pre_places_in_text != '[null]' && tweets[i].pre_places_in_text != '[]') {
            let object = JSON.parse(tweets[i].pre_places_in_text.replace(/'/g, '"').replace(/\(/g, '"(').replace(/\)/g, ')"'))
            for(let j = 0; j < object.length; j++) {
              let exclude = ["adam", "denemarken", "overeind", "voort", "noorden", "putten", "ruiten", "sprong", "stein", "toom", "vrij", "veld", "stationsplein", "anderen", "engeland", "frankrijk", "keur", "hinder", "look", "linie", "onrust", "onderuit", "ren", "uitweg", "vechten", "viel", "west", "well", "wijk", "winkel", "wandelbos", "waarde", "ziek", "alm", "appel", "helden", "hond", "drie", "eiland", "neer", "noord", "rutten", "rotte", "leest", "strand", "straten", "woord", "hoef", "laan", "eind", "boord", "acht", "dijk", "gun", "hoek", "echt", "burg", "middel", "park", "plein", "leek", "johanna", "klimmen", "rijen", "top", "val", "vecht", "zand", "zetten", "zuid", "station", "binnenstad", "heel", "mark", "amerika", "hoeven", "dam", "waard", "zittend", "driehoek", "bent", "leg", "hal", "haag", "straat", "stadhuis", "einde", "keer", "haring", "haven", "gaal", "aanzee", "honderd", "blokker", "brand", "baal", "belt", "gauw", "geest", "gooi", "heer", "heers", "haren", "dorp", "dingen", "centrum", "brug", "broek", "best", "holy", "hop", "koekoek", "kopstukken", "meent", "partij", "raam", "raar"]
              if(!exclude.includes(object[j].place)) {
                let coordinates = object[j].coordinates.replace(/\(/g, '').replace(/\)/g, '').split(', ')
                let x = parseFloat(coordinates[0])
                let y = parseFloat(coordinates[1])
                // Very small randomization is added to places from text, to prevent often mentioned places to end up as a single dot. This caused an inaccuracy of several meters, but it highlights the intensity of a mentioned location better.
                x = Math.random() > 0.5 ? x + (Math.random() / 10000) : x - (Math.random() / 10000)
                y = Math.random() > 0.5 ? y + (Math.random() / 10000) : y - (Math.random() / 10000)
                locations.push(latLng(x, y, 1))
                if(this.$refs.heatmap) this.$refs.heatmap.addLatLng(latLng(x, y, 1))
              }
            }
          }
        }
        return locations
      }else{
        return []
      }
    }
  }
}
</script>

<style scoped>
  .vue2leaflet-map {
    z-index: 0;
  }
</style>