<template>
  <div>
    <v-row no-gutters>
      <h4>Tweets</h4>
    </v-row>
    <v-row no-gutters>
      <v-simple-table dense width="100%" class="body-2">
        <thead>
          <tr>
            <th>Relevantie</th>
            <th>Tweet</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(tweet, index) in prioTweets">
            <tr v-bind:key="index" v-if="index < 3">
              <td>{{ tweet.title }}</td>
              <td>
                <strong>@{{ tweet.content.user_screen_name }} - {{ stringToDate(tweet.content.created_at).toLocaleString() }} - RT: {{ tweet.content.retweet_count ? tweet.content.retweet_count : "0" }}</strong> <br>
                {{ tweet.content.text }}
              </td>
            </tr>
          </template>
        </tbody>
      </v-simple-table>
      <div>
        <a class="body-2" @click="allTweetsDialog = !allTweetsDialog">Toon alle Tweets<v-icon small color="primary">mdi-launch</v-icon></a>
      </div>
    </v-row>

    <v-dialog
      v-model="allTweetsDialog"
      width="800"
    >
      <v-card v-if="filteredTweets">
        <v-card-title class="primary white--text">Tweets</v-card-title>
        <v-row no-gutters class="mt-1">
          <v-pagination
            class="mx-auto"
            v-model="page"
            v-if="filteredTweets"
            :length="Math.ceil(filteredTweets.length / pageSize)"
            :total-visible="10"
            circle
          ></v-pagination>
        </v-row>
        <v-row no-gutters class="pl-4 pr-4">
          <v-text-field v-model="keywords"
            label="Keywords">
          </v-text-field>
        </v-row>
        <template v-if="filteredTweets">
          <v-col v-for="tweet in filteredTweets.slice(((page - 1)*pageSize), (page*pageSize))"
            :key="tweet.status_id"
            class="d-flex child-flex pt-0"
            cols="12"
          >
            <v-card>
              <div class="d-flex flex-no-wrap justify-space-between">
                <v-row no-gutters v-if="images.filter(x => x.id == tweet.status_id).length > 0">
                  <v-col cols="8">
                    <v-card-text>
                      <strong>@{{ tweet.user_screen_name }} - {{ stringToDate(tweet.created_at).toLocaleString() }} - RT: {{ tweet.retweet_count ? tweet.retweet_count : "0" }}</strong><br>
                      {{ tweet.text }} <br>
                    </v-card-text>
                  </v-col>
                  <v-col cols="4">
                    <v-card-text>
                      <v-carousel hide-delimiters
                        height="125px"
                      >
                        <v-carousel-item
                          v-for="(image, index) in images.filter(x => x.id == tweet.status_id)"
                          :key="index"
                        >
                          <div class="d-flex child-flex">
                            <img class="smid-image" 
                            :src="media_url + '/' + image.id + '/' + image.src"
                            @click="openImage(media_url + '/' + image.id + '/' + image.src)">
                          </div>
                        </v-carousel-item>
                      </v-carousel>
                    </v-card-text>
                  </v-col>
                </v-row>
                <v-row v-else>
                  <v-col cols="12">
                    <v-card-text>
                      <strong>@{{ tweet.user_screen_name }} - {{ stringToDate(tweet.created_at).toLocaleString() }} - RT: {{ tweet.retweet_count ? tweet.retweet_count : "0" }}</strong><br>
                      {{ tweet.text }} <br>
                    </v-card-text>
                  </v-col>
                </v-row>
              </div>
            </v-card>
          </v-col>
        </template>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="imageDialog"
      width="600"
    >
      <v-card v-if="image">
        <v-img 
          :src="image"
          contain
          max-width="600"
        ></v-img>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { HTTP } from '@/services/axios.js'

export default {
  props: [
    'tweets',
    'tweetsDialog'
  ],
  data: function() {
    return {
      allTweetsDialog: false,
      prioTweets: [],
      image: "",
      imageDialog: false,
      media_url: window.location.hostname == 'localhost' ? 'http://localhost:8000/media' : 'https://' + window.location.hostname + '/api/media',
      page: 1,
      images: [],
      keywords: "",
      pageSize: 6
    }
  },
  watch: {
    tweets(val) {
      this.prioTweets = this.getPriorityTweets(val)
    },
    tweetsDialog() {
      this.allTweetsDialog = !this.allTweetsDialog
    },
    allTweetsDialog(val) {
      if(val) this.getImages(this.tweets)
    }
  },
  methods: {
    getPriorityTweets(tweets) {
      let result = []
      if(tweets[0]) result.push({title: "Eerste Tweet", content: tweets[0]})
      for(let i = 0; i < tweets.length; i++) {
        if(tweets[i].retweeted_status_id != "None") {
          let retweetedTweet = tweets.find(x => x.status_id == tweets[i].retweeted_status_id)
          if(retweetedTweet) {
            if(retweetedTweet.retweet_count) retweetedTweet.retweet_count += 1
            else retweetedTweet.retweet_count = 1
          }
        }
      }
      let most_retweeted = tweets.find(x => Math.max(x.retweet_count))
      if(most_retweeted) result.push({title: "Meeste RTs", content: most_retweeted})
      if(tweets.length > 1) result.push({title: "Laatste Tweet", content: tweets[tweets.length - 1]})
      return result
    },
    getImages(tweets) {
      if(tweets.length > 0) {
        let ids = tweets.map(x => x.status_id)

        HTTP
          .post('/tweets_media/', ids)
          .then(response => (
            this.images = response.data
          ))
      } else {
        this.images = []
      }
    },
    openImage(image) {
      this.image = image
      this.imageDialog = !this.imageDialog
    }
  },
  computed: {
    filteredTweets() {
      if(this.keywordsArray.length > 0 && this.tweets){
        return this.tweets.filter(x => this.keywordsArray.some(r => x.pre_text_tokenized.includes(r)))
      }else{
        return this.tweets
      }
    },
    keywordsArray() {
      return this.keywords.split(' ').filter(x => x != "")
    }
  },
  mounted: function() {
    if(this.tweets) this.prioTweets = this.getPriorityTweets(this.tweets)
  }
}

</script>

<style scoped>
  .smid-image {
    object-fit: cover;
    max-width: 100%;
    height: 125px;
    max-height: 125px;
  }
</style>